<a href="https://colab.research.google.com/github/rindanh/Latihan-NDSC/blob/main/netflix/zeva/Latihan_NDSC_7_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
import re

In [ ]:
df = pd.read_csv("netflix_titles.csv")

In [ ]:
list(df.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [ ]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [ ]:
df.shape

(6234, 12)

## Analisa Kategori By Country (TV & Movies)

In [ ]:
df[['type','title','director', 'country', 'date_added', 'release_year', 'rating', 'duration','listed_in']]

,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies"
1,Movie,Jandino: Whatever it Takes,NaN,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy
2,TV Show,Transformers Prime,NaN,United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV
3,TV Show,Transformers: Robots in Disguise,NaN,United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV
4,Movie,#realityhigh,Fernando Lebrija,United States,"September 8, 2017",2017,TV-14,99 min,Comedies
...,...,...,...,...,...,...,...,...,...
6229,TV Show,Red vs. Blue,NaN,United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,TV Show,Maron,NaN,United States,NaN,2016,TV-MA,4 Seasons,TV Comedies
6231,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies
6232,TV Show,A Young Doctor's Notebook and Other Stories,NaN,United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas"
6233,TV Show,Friends,NaN,United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies"

### ---------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
### Yang pengen gue lakukan tapi belom ada codingnya di sini:
### 1. NaN Diisi unknown
### 2. Type dipisahin antara Movie sama TV Show (Jadi bakal ada 2) (rinda udah lakuin)
### Tambahan kalo dirasa ga nyusahin
### 3. Movie sama TV Show di-group lagi berdasarkan listed_in nya
### 4. Setelah itu dibagi lagi berdasarkan ratingnya

In [ ]:
### Yang mungkin bisa dicari dari Movie sama TV Show (sendiri-sendiri):
### 1. Negara mana yang paling banyak menghasilkan Movie sama TV Show?
### 2. Jumlah yang ditambahkan ke Netflix dari setiap negara setiap tahunnya
### 3. Dari jumlah yang ditambahkan itu, dibuat semacam perbandingan mana yang terbanyak tiap tahun (visualisasinya gue ngide mirip yang di Data is Beautiful di YouTube)
### 4. Director dengan karya terbanyak (dan asal negaranya kalo perlu)
### Kalo yang tambahan dijalanin bisa didapatkan juga
### 5. Director x paling banyak memproduksi film rating apa? (kalo udah dibagi berdasar rating) (udh rinda lakukan)
### 6. (Kalo udah dibagi berdasar rating) berapa rata-rata durasi dari setiap Movie atau TV Show per rating?