<a href="https://colab.research.google.com/github/rindanh/Latihan-NDSC/blob/main/airbnb/Latihan_H_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
import seaborn as sns
import time
from tqdm.notebook import tqdm
from sklearn.model_selection import StratifiedKFold

### **Bagi data train test (kalo belum ada pembagian)**

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/LOMBA/NDSC/AB_US_2020.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['price'])
Y = df.price

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.5, random_state=42)

In [ ]:
df_train = pd.concat([X_train, Y_train], axis=1)
df_test = pd.concat([X_test, Y_test], axis=1)

### **Siapin data train test (kalo udah ada pembagian)**

In [ ]:
df_train = pd.read_csv("/content/drive/My Drive/LOMBA/NDSC/...")
df_test = pd.read_csv("/content/drive/My Drive/LOMBA/NDSC/...")
sample = pd.read_csv("/content/drive/My Drive/LOMBA/NDSC/...")

In [ ]:
X_train = df_train[:]
Y_train = df_train['']

X_test = df_test[:]
Y_test = df_test['']

### **Analisis Awal**

In [ ]:
X_train.head().T

                                                                           183806  ...                                         57719
id                                                                       10922065  ...                                       22707293
name                            Large Double Queen Bedroom in Charming Beach Home  ...  ‚ù§Ô∏è RENOVATED!  AMAZING OCEAN VIEW! ‚ù§Ô∏è
host_id                                                                   3816836  ...                                       15101308
host_name                                                                     Tom  ...                                           Jill
neighbourhood_group                                                           NaN  ...                                           Maui
neighbourhood                                                       Pacific Beach  ...                                        Lahaina
latitude                                                                  32.8097  ...                                        20.9504
longitude                                                                -117.248  ...                                       -156.689
room_type                                                            Private room  ...                                Entire home/apt
minimum_nights                                                                  3  ...                                              3
number_of_reviews                                                               0  ...                                             16
last_review                                                                   NaN  ...                                       22/02/20
reviews_per_month                                                             NaN  ...                                           0.62
calculated_host_listings_count                                                 10  ...                                              3
availability_365                                                               32  ...                                            330
city                                                                    San Diego  ...                                         Hawaii

[16 rows x 5 columns]

In [ ]:
X_test.head().T

                                                                           182851  ...                                             25085
id                                                                        6123863  ...                                           41833198
name                            Stylish Remodeled House with Deck, Steps to Di...  ...  New Renovated House - Hard Rock / Hollywood Beach
host_id                                                                   9072515  ...                                          120149672
host_name                                                                 Jessica  ...                                             Yaseen
neighbourhood_group                                                           NaN  ...                                                NaN
neighbourhood                                             West University Heights  ...                                          Hollywood
latitude                                                                  32.7599  ...                                            26.0159
longitude                                                                -117.143  ...                                           -80.2301
room_type                                                         Entire home/apt  ...                                    Entire home/apt
minimum_nights                                                                  2  ...                                                  2
number_of_reviews                                                              28  ...                                                 10
last_review                                                              12/07/20  ...                                           28/04/20
reviews_per_month                                                            0.44  ...                                               2.16
calculated_host_listings_count                                                  1  ...                                                  1
availability_365                                                              300  ...                                                 15
city                                                                    San Diego  ...                                     Broward County

[16 rows x 5 columns]

In [ ]:
X_train.describe().T

                                   count  ...           max
id                              113015.0  ...  4.551439e+07
host_id                         113015.0  ...  3.679176e+08
latitude                        113015.0  ...  4.773462e+01
longitude                       113015.0  ... -7.099595e+01
minimum_nights                  113015.0  ...  1.250000e+03
number_of_reviews               113015.0  ...  9.530000e+02
reviews_per_month                88602.0  ...  4.406000e+01
calculated_host_listings_count  113015.0  ...  5.930000e+02
availability_365                113015.0  ...  3.650000e+02

[9 rows x 8 columns]

In [ ]:
X_test.describe().T

                                   count  ...           max
id                              113015.0  ...  4.556085e+07
host_id                         113015.0  ...  3.679071e+08
latitude                        113015.0  ...  4.773395e+01
longitude                       113015.0  ... -7.100200e+01
minimum_nights                  113015.0  ...  1.000000e+08
number_of_reviews               113015.0  ...  9.660000e+02
reviews_per_month                88826.0  ...  3.243000e+01
calculated_host_listings_count  113015.0  ...  5.930000e+02
availability_365                113015.0  ...  3.650000e+02

[9 rows x 8 columns]

In [ ]:
def dataset_summary(df) :

    # Buat summary dataframe
    summary_df = pd.DataFrame()

    # Isi summary
    summary_df['Var'] = df.columns
    summary_df['Dtypes'] = df.dtypes.values
    summary_df['Total Missing'] = df.isnull().sum().values
    summary_df['Missing%'] = summary_df['Total Missing'] / len(df) * 100
    summary_df['Total Unique'] = df.nunique().values
    summary_df['Unique%'] = summary_df['Total Unique'] / len(df) * 100

    # Ukuran dataset
    print('Dataset dimension :',df.shape)

    return summary_df

In [ ]:
dataset_summary(X_train)

Dataset dimension : (113015, 16)

                               Var   Dtypes  ...  Total Unique    Unique%
0                               id    int64  ...        113014  99.999115
1                             name   object  ...        110279  97.579082
2                          host_id    int64  ...         74333  65.772685
3                        host_name   object  ...         20245  17.913551
4              neighbourhood_group   object  ...            34   0.030085
5                    neighbourhood   object  ...          1424   1.260010
6                         latitude  float64  ...         86447  76.491616
7                        longitude  float64  ...         85346  75.517409
8                        room_type   object  ...             4   0.003539
9                   minimum_nights    int64  ...           144   0.127417
10               number_of_reviews    int64  ...           599   0.530018
11                     last_review   object  ...          2205   1.951068
12               reviews_per_month  float64  ...          1135   1.004291
13  calculated_host_listings_count    int64  ...           142   0.125647
14                availability_365    int64  ...           366   0.323851
15                            city   object  ...            28   0.024775

[16 rows x 6 columns]

In [ ]:
dataset_summary(X_test)

Dataset dimension : (113015, 16)

                               Var   Dtypes  ...  Total Unique     Unique%
0                               id    int64  ...        113015  100.000000
1                             name   object  ...        110278   97.578198
2                          host_id    int64  ...         74006   65.483343
3                        host_name   object  ...         20170   17.847188
4              neighbourhood_group   object  ...            34    0.030085
5                    neighbourhood   object  ...          1411    1.248507
6                         latitude  float64  ...         86364   76.418175
7                        longitude  float64  ...         85712   75.841260
8                        room_type   object  ...             4    0.003539
9                   minimum_nights    int64  ...           133    0.117683
10               number_of_reviews    int64  ...           597    0.528248
11                     last_review   object  ...          2200    1.946644
12               reviews_per_month  float64  ...          1102    0.975092
13  calculated_host_listings_count    int64  ...           142    0.125647
14                availability_365    int64  ...           366    0.323851
15                            city   object  ...            28    0.024775

[16 rows x 6 columns]

### **Bantu Analisis**

https://colab.research.google.com/drive/1p1T43pkgWwQb8S7SlKDapjAQ6G3a03UE?usp=sharing

In [ ]:
for col in X_train.columns:
    print(X_train[col].value_counts(), '\n\n------\n\n')

City Hotel      39679
Resort Hotel    20016
Name: hotel, dtype: int64

------


0      3186
1      1681
2      1007
3       887
4       873
       ...
532       1
424       1
399       1
389       1
458       1
Name: lead_time, Length: 471, dtype: int64

------


2016    28419
2017    20307
2015    10969
Name: arrival_date_year, dtype: int64

------


August       6922
July         6252
May          5986
October      5608
April        5554
June         5437
September    5220
March        4926
February     4039
November     3410
December     3405
January      2936
Name: arrival_date_month, dtype: int64

------


33    1793
30    1535
32    1520
18    1486
34    1468
17    1433
21    1431
28    1405
20    1404
31    1402
42    1388
27    1343
41    1337
23    1328
38    1328
25    1327
15    1318
29    1316
35    1290
39    1288
22    1281
19    1242
24    1237
16    1218
13    1215
43    1203
26    1169
40    1157
44    1155
36    1132
14    1125
8     1120
37    1099
10    1085
12    1076
9     1069
11    1013
7     1011
45     980
49     897
53     896
47     827
6      773
46     770
50     760
48     754
5      715
4      701
3      669
52     628
2      600
1      510
51     468
Name: arrival_date_week_number, dtype: int64

------


17    2205
5     2184
9     2062
19    2055
26    2054
15    2043
25    2036
18    2035
28    2032
12    2031
24    2029
2     2021
20    2019
3     2003
16    1996
8     1947
27    1925
6     1903
30    1902
21    1897
13    1891
14    1873
4     1855
23    1848
7     1824
1     1821
22    1790
10    1765
11    1761
29    1744
31    1144
Name: arrival_date_day_of_month, dtype: int64

------


0     25972
2     16734
1     15261
4       896
3       649
6        83
8        35
5        35
7        11
10        6
9         5
16        3
14        2
12        2
18        1
Name: stays_in_weekend_nights, dtype: int64

------


2     16786
1     15019
3     11212
5      5566
4      4857
0      3841
6       761
10      506
7       500
8       325
9       117
15       46
11       28
19       25
20       22
12       20
13       13
14       12
21       10
16        9
22        5
25        4
40        2
35        1
34        1
30        1
41        1
26        1
17        1
18        1
24        1
42        1
Name: stays_in_week_nights, dtype: int64

------


2     44834
1     11552
3      3053
0       213
4        32
26        5
27        2
20        1
50        1
40        1
5         1
Name: adults, dtype: int64

------


0.0    55335
1.0     2455
2.0     1866
3.0       35
Name: children, dtype: int64

------


0     59245
1       443
2         6
10        1
Name: babies, dtype: int64

------


BB           46167
HB            7167
SC            5375
Undefined      590
FB             396
Name: meal, dtype: int64

------


PRT    24283
GBR     6040
FRA     5242
ESP     4226
DEU     3601
       ...
VGB        1
AND        1
SLE        1
KHM        1
BWA        1
Name: country, Length: 157, dtype: int64

------


Online TA        28365
Offline TA/TO    12149
Groups            9792
Direct            6209
Corporate         2676
Complementary      386
Aviation           116
Undefined            2
Name: market_segment, dtype: int64

------


TA/TO        48995
Direct        7264
Corporate     3336
GDS             96
Undefined        4
Name: distribution_channel, dtype: int64

------


0    57763
1     1932
Name: is_repeated_guest, dtype: int64

------


0     56466
1      3025
2        52
24       27
3        23
4        19
11       15
26       14
25       12
6        12
19       10
5         9
14        6
13        5
Name: previous_cancellations, dtype: int64

------


0     57884
1       772
2       299
3       172
4       109
5        95
6        59
7        41
8        36
9        25
10       24
11       19
13       18
14       16
12       14
18       10
25        8
17        8
16        7
15        7
19        6
27        5
26        5
29        5
20        5
23        5
28        4
22        4
24        4
21        3
31        2
48        2
42        1
50        1
32        1
64        1
30        1
33        1
65        1
51        1
66        1
60        1
35        1
68        1
44        1
49        1
37        1
58        1
70        1
39        1
71        1
45        1
62        1
53        1
Name: previous_bookings_not_canceled, dtype: int64

------


A    43026
D     9602
E     3234
F     1447
G     1048
B      562
C      461
H      307
P        6
L        2
Name: reserved_room_type, dtype: int64

------


A    37083
D    12653
E     3864
F     1878
G     1272
C     1179
B     1072
H      358
I      182
K      148
P        6
Name: assigned_room_type, dtype: int64

------


0     50726
1      6294
2      1892
3       453
4       198
5        55
6        32
7        15
8         8
9         5
10        3
13        3
14        3
15        3
16        2
12        2
21        1
Name: booking_changes, dtype: int64

------


No Deposit    52363
Non Refund     7240
Refundable       92
Name: deposit_type, dtype: int64

------


9.0      16123
240.0     6939
1.0       3526
14.0      1767
7.0       1757
         ...
244.0        1
216.0        1
426.0        1
295.0        1
472.0        1
Name: agent, Length: 300, dtype: int64

------


40.0     455
223.0    388
67.0     140
45.0     129
153.0    104
        ...
184.0      1
80.0       1
313.0      1
319.0      1
417.0      1
Name: company, Length: 295, dtype: int64

------


0      57799
39       113
58        96
44        71
31        67
       ...
116        1
92         1
185        1
121        1
12         1
Name: days_in_waiting_list, Length: 113, dtype: int64

------


Transient          44796
Transient-Party    12517
Contract            2077
Group                305
Name: customer_type, dtype: int64

------


62.00     1827
75.00     1333
90.00     1232
65.00     1203
0.00      1012
          ...
140.27       1
142.68       1
367.00       1
71.66        1
87.64        1
Name: adr, Length: 6265, dtype: int64

------


0    55963
1     3716
2       14
8        2
Name: required_car_parking_spaces, dtype: int64

------


0    35180
1    16648
2     6425
3     1266
4      160
5       16
Name: total_of_special_requests, dtype: int64

------


2015-10-21    691
2015-07-06    421
2016-11-25    392
2015-01-01    379
2016-01-18    309
             ...
2015-02-24      1
2015-01-18      1
2015-04-25      1
2015-02-11      1
2015-04-21      1
Name: reservation_status_date, Length: 904, dtype: int64

------

### **Label Encoding**

In [ ]:
df_train.reset_index(drop=True, inplace=True)
df_test.reset_index(drop=True, inplace=True)

X_train.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

X_test.reset_index(drop=True, inplace=True)
Y_test.reset_index(drop=True, inplace=True)

In [ ]:
# Difaktorisasi
X_train_factorized = X_train.copy()
X_test_factorized = X_test.copy()

to_factorize_cols = ['hotel', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type']
for col in to_factorize_cols:
    X_train_factorized[col] = pd.factorize(X_train[col], sort=True)[0]
    X_test_factorized[col] = pd.factorize(X_test[col], sort=True)[0]

In [ ]:
# Bulan jadi kategori numerik
month_replace = {'January':1, 
                 'February':2, 
                 'March':3, 
                 'April':4,
                 'May':5,
                 'June':6,
                 'July':7,
                 'August':8,
                 'September':9,
                 'October':10,
                 'November':11,
                 'December':12}
X_train_factorized['arrival_date_month'] = X_train_factorized['arrival_date_month'].replace(month_replace)
X_test_factorized['arrival_date_month'] = X_test_factorized['arrival_date_month'].replace(month_replace)


# Hapus kolom yg missing > 30%
trainsumm = dataset_summary(X_train)
to_delete = trainsumm[trainsumm['Missing%'] >= 30]['Var']
X_train_factorized = X_train_factorized.drop(columns=to_delete)
X_test_factorized = X_test_factorized.drop(columns=to_delete)


# Hapus kolom object yg terlalu banyak unik
X_train_factorized = X_train_factorized.drop(columns='reservation_status_date')
X_test_factorized = X_test_factorized.drop(columns='reservation_status_date')

Dataset dimension : (59695, 30)

### **Mean Encoding (without Reguarization)**

In [ ]:
df_train.reset_index(drop=True, inplace=True)
df_test.reset_index(drop=True, inplace=True)

X_train.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

X_test.reset_index(drop=True, inplace=True)
Y_test.reset_index(drop=True, inplace=True)

In [ ]:
# Di mean encoding
X_train_encoded = X_train.copy()
X_test_encoded = X_test.copy()

to_mean_encode = ['hotel', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type']
for col in to_mean_encode:
    means = df_train.groupby(col)['is_canceled'].mean()
    X_train_encoded[col] = X_train[col].map(means)
    X_test_encoded[col] = X_test[col].map(means)

X_train_encoded[to_mean_encode] = X_train_encoded[to_mean_encode].astype('float64')
X_test_encoded[to_mean_encode] = X_test_encoded[to_mean_encode].astype('float64')

In [ ]:
# Bulan jadi kategori numerik
month_replace = {'January':1, 
                 'February':2, 
                 'March':3, 
                 'April':4,
                 'May':5,
                 'June':6,
                 'July':7,
                 'August':8,
                 'September':9,
                 'October':10,
                 'November':11,
                 'December':12}
X_train_encoded['arrival_date_month'] = X_train_encoded['arrival_date_month'].replace(month_replace)
X_test_encoded['arrival_date_month'] = X_test_encoded['arrival_date_month'].replace(month_replace)


# Hapus kolom yg missing > 30%
trainsumm = dataset_summary(X_train)
to_delete = trainsumm[trainsumm['Missing%'] >= 30]['Var']
X_train_encoded = X_train_encoded.drop(columns=to_delete)
X_test_encoded = X_test_encoded.drop(columns=to_delete)


# Hapus kolom object yg terlalu banyak unik
X_train_encoded = X_train_encoded.drop(columns='reservation_status_date')
X_test_encoded = X_test_encoded.drop(columns='reservation_status_date')

Dataset dimension : (59695, 30)

### **Mean Encoding (CV)**

In [ ]:
df_train.reset_index(drop=True, inplace=True)
df_test.reset_index(drop=True, inplace=True)

X_train.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

X_test.reset_index(drop=True, inplace=True)
Y_test.reset_index(drop=True, inplace=True)

In [ ]:
# Di mean encoding
X_train_encoded_cv = X_train.copy()
X_test_encoded_cv = X_test.copy()
to_mean_encode = ['hotel', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type']

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=28112020)
for tr_set, val_set in skf.split(X_train, Y_train):
    for col in to_mean_encode:
        means = df_train.loc[tr_set].groupby(col)['is_canceled'].mean()
        X_train_encoded_cv[col].loc[val_set] = X_train[col].loc[val_set].map(means)
        X_test_encoded_cv[col].loc[val_set] = X_test[col].loc[val_set].map(means)

X_train_encoded_cv[to_mean_encode] = X_train_encoded_cv[to_mean_encode].astype('float64')
X_test_encoded_cv[to_mean_encode] = X_test_encoded_cv[to_mean_encode].astype('float64')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
# Bulan jadi kategori numerik
month_replace = {'January':1, 
                 'February':2, 
                 'March':3, 
                 'April':4,
                 'May':5,
                 'June':6,
                 'July':7,
                 'August':8,
                 'September':9,
                 'October':10,
                 'November':11,
                 'December':12}
X_train_encoded_cv['arrival_date_month'] = X_train_encoded_cv['arrival_date_month'].replace(month_replace)
X_test_encoded_cv['arrival_date_month'] = X_test_encoded_cv['arrival_date_month'].replace(month_replace)


# Hapus kolom yg missing > 30%
trainsumm = dataset_summary(X_train)
to_delete = trainsumm[trainsumm['Missing%'] >= 30]['Var']
X_train_encoded_cv = X_train_encoded_cv.drop(columns=to_delete)
X_test_encoded_cv = X_test_encoded_cv.drop(columns=to_delete)


# Hapus kolom object yg terlalu banyak unik
X_train_encoded_cv = X_train_encoded_cv.drop(columns='reservation_status_date')
X_test_encoded_cv = X_test_encoded_cv.drop(columns='reservation_status_date')

Dataset dimension : (59695, 30)

### **XGBoost**

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import StratifiedKFold

#Metrics
from sklearn.metrics import matthews_corrcoef

from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

**Validation (Baseline)**

In [ ]:
X_train_factorized.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

rand_states = [28112020]
rand_scores_train = {}
rand_scores_val = {}

for r in rand_states:
    scores_train = []
    scores_val = []
    skf = StratifiedKFold(n_splits=2, random_state=r, shuffle=True)

    for train_index, test_index in skf.split(X_train_factorized, Y_train):
        model = XGBClassifier(random_state=1234)
        model.fit(X_train_factorized.loc[train_index], Y_train.loc[train_index])

        # Scoring pake matthew coefficient
        Y_predtrain = model.predict(X_train_factorized.loc[train_index])
        Y_pred = model.predict(X_train_factorized.loc[test_index])
        scores_train.append(matthews_corrcoef(Y_train.loc[train_index], Y_predtrain))
        scores_val.append(matthews_corrcoef(Y_train.loc[test_index], Y_pred))

    rand_scores_train[r] = scores_train
    rand_scores_val[r] = scores_val

    print(r, "Train", scores_train)
    print(r, "Test ", scores_val)
    print('----Baseline----')

print("Train: ", np.array(list(rand_scores_train.values())).mean())
print("Test : ",np.array(list(rand_scores_val.values())).mean())

28112020 Train [0.6655409433086, 0.6746301024506726]
28112020 Test  [0.6561619025893173, 0.670366583951997]
----Baseline----
Train:  0.6700855228796363
Test :  0.6632642432706571

**Validation (Mean Encoding)**

In [ ]:
X_train_encoded.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

rand_states = [28112020]
rand_scores_train = {}
rand_scores_val = {}

for r in rand_states:
    scores_train = []
    scores_val = []
    skf = StratifiedKFold(n_splits=2, random_state=r, shuffle=True)

    for train_index, test_index in skf.split(X_train_encoded, Y_train):
        model = XGBClassifier(random_state=1234)
        model.fit(X_train_encoded.loc[train_index], Y_train.loc[train_index])

        # Scoring pake matthew coefficient
        Y_predtrain = model.predict(X_train_encoded.loc[train_index])
        Y_pred = model.predict(X_train_encoded.loc[test_index])
        scores_train.append(matthews_corrcoef(Y_train.loc[train_index], Y_predtrain))
        scores_val.append(matthews_corrcoef(Y_train.loc[test_index], Y_pred))

    rand_scores_train[r] = scores_train
    rand_scores_val[r] = scores_val

    print(r, "Train", scores_train)
    print(r, "Test ", scores_val)
    print('----Mean Encoding----')

print("Train: ", np.array(list(rand_scores_train.values())).mean())
print("Test : ",np.array(list(rand_scores_val.values())).mean())

28112020 Train [0.6841000106513192, 0.6835263309164379]
28112020 Test  [0.6732011110350239, 0.6782857262355316]
----Mean Encoding----
Train:  0.6838131707838786
Test :  0.6757434186352778

**Validation (Mean Encoding CV)**

In [ ]:
X_train_encoded_cv.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

rand_states = [28112020]
rand_scores_train = {}
rand_scores_val = {}

for r in rand_states:
    scores_train = []
    scores_val = []
    skf = StratifiedKFold(n_splits=2, random_state=r, shuffle=True)

    for train_index, test_index in skf.split(X_train_encoded_cv, Y_train):
        model = XGBClassifier(random_state=1234)
        model.fit(X_train_encoded_cv.loc[train_index], Y_train.loc[train_index])

        # Scoring pake matthew coefficient
        Y_predtrain = model.predict(X_train_encoded_cv.loc[train_index])
        Y_pred = model.predict(X_train_encoded_cv.loc[test_index])
        scores_train.append(matthews_corrcoef(Y_train.loc[train_index], Y_predtrain))
        scores_val.append(matthews_corrcoef(Y_train.loc[test_index], Y_pred))

    rand_scores_train[r] = scores_train
    rand_scores_val[r] = scores_val

    print(r, "Train", scores_train)
    print(r, "Test ", scores_val)
    print('----Mean Encoding CV----')

print("Train: ", np.array(list(rand_scores_train.values())).mean())
print("Test : ",np.array(list(rand_scores_val.values())).mean())

28112020 Train [0.6777670857409718, 0.6817401099138475]
28112020 Test  [0.6714217109219112, 0.680522008888824]
----Mean Encoding CV----
Train:  0.6797535978274096
Test :  0.6759718599053676

**Submit**

In [ ]:
X_train_factorized.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_factorized, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_factorized)
Y_pred.to_csv('')

Baseline: 0.6645578040144313
Mean Encoding: 0.6747142800755542
Mean Encoding CV: 0.6768000304800589

In [ ]:
X_train_encoded.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_encoded, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_encoded)
Y_pred.to_csv('')

In [ ]:
X_train_encoded_cv.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_encoded_cv, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_encoded_cv)
Y_pred.to_csv('')

**Test**

In [ ]:
X_train_factorized.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_factorized, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_factorized)
print("Baseline:", matthews_corrcoef(Y_test, Y_pred))



X_train_encoded.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_encoded, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_encoded)
print("Mean Encoding:", matthews_corrcoef(Y_test, Y_pred))



X_train_encoded_cv.reset_index(drop=True, inplace=True)
Y_train.reset_index(drop=True, inplace=True)

model = XGBClassifier(random_state=1234)
model.fit(X_train_encoded_cv, Y_train)

# Scoring pake matthew coefficient
Y_pred = model.predict(X_test_encoded_cv)
print("Mean Encoding CV:", matthews_corrcoef(Y_test, Y_pred))

Baseline: 0.6645578040144313
Mean Encoding: 0.6747142800755542
Mean Encoding CV: 0.6768000304800589